/* 1 banner slide show */
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
  width: 100%;
}
.fa-align-right{
  position: absolute;
  top: calc(50% - 30px);
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  left: auto;
  right: 10px;
  color: white;
  font-size: 30px
}
.fa-align-left{
  position: absolute;
  top: calc(50% - 30px);
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  left: 10px;
  right: auto;
  color: white;
  font-size: 30px
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 1;
  border: 3px #ea8025 solid;
  margin-bottom: 2.5px!important
}
.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background: white;
  opacity: 1;
  margin-bottom: 0!important;
  border: 4px #ea8025 solid;
}
/* 2 banner menu */
.product{
    width: 100%;
    padding: 50px 0
}
.product-title b{
    padding: 10px ;
    padding-left: 0;
    color: black; 
    font-size: 24px;
    color: #ea8025;
    margin-bottom: 10px;
    display: block;
}
.more{
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}
.more b{
    padding: 10px ;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    color: white; 
    background: black;
    font-weight: 600
}
@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
.more:hover b{
    animation: pulse 1s;
    animation-iteration-count: 1;
    border: 2px solid black;
    color: black;
    background: white
}
.img-product{
    padding: 5px
}
.img-product img{
    width: 100%;
}
.wrap-p-buy{
  border: 2px solid #ea8025;
  overflow: hidden;
  position: relative;
  width: 83.5px;
  margin-left: 5px;
  margin-top: 10px
}
.p-name{
  margin: 10px 0;
  margin-left: 5px;
  font-size: 20px;
  display: block;
 
}
.p-price{
  margin: 10px 0;
  margin-left: 5px ;
  font-size: 20px;
  color: #ea8025
}
.p-buy-a{
  position: absolute;
  color: #ea8025;
  background: white;
  width: 0px;
  font-size: 14px;
  -webkit-transition: width 0.5s ;
  transition: width 0.5s ;
  overflow: hidden;
 
}
.p-buy-a p{
  padding: 6px 8px;
  min-width: 79.5px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 1px
}
.p-buy{
  color: white;
  background: #ea8025;
  font-size: 14px; 
  height: 34px;
  padding: 6px 8px;
}
.p-buy p{
  font-weight: 600;
  text-align: center
}
.wrap-p-buy:hover .p-buy-a{
  width: 100%;
 
  margin-left: 0
  
}
.wrap-p-more{
  border: 2px solid #ea8025;
  overflow: hidden;
  position: relative;
  width: 105.5px;
  margin-left: 15px;
  margin-top: 10px
}
.p-more-a{
  position: absolute;
  color: white;
  background: #ea8025;
  width: 0px;
  font-size: 14px;
  -webkit-transition: width 0.5s ;
  transition: width 0.5s ;
  overflow: hidden;
 
}
.p-more-a p{
  padding: 6px 8px;
  min-width: 103.5px;
  font-weight: 600;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0px
}
.p-more{
  color: #ea8025;
  background: white;
  font-size: 14px; 
  height: 34px;
  padding: 6px 8px;
}
.p-more p{
  font-weight: 600;
  text-align: center
}
.wrap-p-more:hover .p-more-a{
  width: 100%;
 
  margin-left: 0
  
}
/* 3 intro */
.intro{
  padding: 60px 0px;
  background: #ffffff
}
.intro-title b{
  padding: 10px ;
  padding-left: 0;
  color: black; 
  font-size: 24px;
  color: #ea8025;
  margin-bottom: 10px;
  display: block;
}
.intro-para{
  margin-top: 20px
}
.intro-para span{
  color: #ea8025
}
.intro-section{
  margin: 15px 0;
  position: relative;
  overflow: hidden;
}
.intro-section img{
  width: 100%;
}
.intro-section-p{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0;
}
.intro-section-p p{
  font-size: 14px
}
.intro-section:hover .intro-section-p{
  opacity: 1
}