<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Coffe Home</title>
    <!-- lib -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nova+Flat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
    <!-- menu -->
    <header>
        <div class="wrap-menu">
            <div class="menu center container row">
                <div class="logo col-4 justify-content-start">
                    <img  />                  
                </div>
                <div class="wrap-menu-tag col-8">
                    <ul class="row justify-content-end">
                        <li class="menu-tag active-menu">
                            <p>Home</p>
                            <div class="menu-border">
                            </div>
                        </li>
                        <li class="menu-tag">
                            <p>Menu</p>
                            <div class="menu-border">
                            </div>
                        </li>
                        <li class="menu-tag">
                            <p>Discount</p>
                            <div class="menu-border">
                            </div>
                        </li>
                        <li class="menu-tag">
                            <p>Store</p>
                            <div class="menu-border">
                            </div>
                        </li>
                        <li class="menu-tag">
                            <a class="fas fa-shopping-cart shop"></a>
                            <div class="menu-border">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 1 banner slide show -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide ">
            <img src="../imgs/slide1.png"> 
          </div>
          <div class="swiper-slide">
            <img src="../imgs/slide2.png"> 
          </div>
          <div class="swiper-slide">
            <img src="../imgs/slide3.png"> 
          </div>
        </div>
      
        <div class="swiper-pagination"></div>
    
        <div class="fas fa-align-right"></div>
        <div class="fas fa-align-left"></div>
    </div>
    <!-- 2 banner Menu -->
    <div class="product">
        <div class="container center">
            <div class="row justify-content-between">
                <div class="col-6 product-title">
                    <b>MENU</b>
                </div>
                <div class="col-6 more">
                    
                    <b>See More</b>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-4">
                    <div class="img-product">
                        <img  src="../imgs/p-1.jpg"/>
                    </div>
                    <div>
                        <b class="p-name">
                            Bạc Sỉu
                        </b>
                        <b class="p-price">
                            29,000 
                        </b>
                    </div>
                   
                    <div class="row">
                        <div class="wrap-p-buy ">
                            <div class="p-buy-a" >
                                <p>
                                    Mua
                                </p>   
                            </div>
                            <div class="p-buy">
                                <p>
                                    Mua 
                                </p>
                            </div> 
                        </div>
                        <div class="wrap-p-more">
                            <div class="p-more-a" >
                                <p>
                                    Xem Thêm
                                </p>   
                            </div>
                            <div class="p-more">
                                <p>
                                    Xem Thêm 
                                </p>
                            </div> 
                        </div>
                    </div>
                </div>
              
            </div>
        </div>          
    </div>
    <!-- 3 banner Intro -->
    <div class="intro">
        <div class="container center">
            <div class="intro-title">
                <b>
                    <i class="fas fa-hashtag"></i>ATTHECOFFEEHOME
                </b>
            </div>
            <div class="intro-para">
                <p>
                        Kết nối với Instagram (chính thức) của chúng tôi tại <span>@thecoffeehousevn.</span>
                    <br>Khi bạn đăng tải những khoảnh khắc của mình với The Coffee House, hãy nhớ <span> <i class="fas fa-hashtag"></i>atthecoffeehouse</span> để chúng tôi có thể chia sẻ lại trải nghiệm của bạn với mọi người.
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <div>
                        <img src="../imgs/">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- lib -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <!-- js -->
    <script src="js/common.js"></script>
    <script src="js/contact.js"></script>

</body>
</html>